In [1]:
import geopandas as gpd

In [6]:
df = gpd.read_file('cal_median_household.csv')

In [7]:
df.head(10)

             County   FIPS Value (Dollars) Rank within US (of 3141 counties)
0    Trinity County  06105          53,498                             2,457
1   Siskiyou County  06093          55,499                             2,309
2   Imperial County  06025          56,393                             2,246
3      Modoc County  06049          56,648                             2,221
4       Lake County  06033          58,738                             2,055
5     Sierra County  06091          60,000                             1,915
6   Humboldt County  06023          61,135                             1,802
7     Tehama County  06103          61,834                             1,739
8     Lassen County  06035          64,395                             1,515
9  Mendocino County  06045          64,688                             1,476

In [10]:
df['County'] = [s.split(' ')[0] for s in df.County]

In [11]:
df.head(10)

      County   FIPS Value (Dollars) Rank within US (of 3141 counties)
0    Trinity  06105          53,498                             2,457
1   Siskiyou  06093          55,499                             2,309
2   Imperial  06025          56,393                             2,246
3      Modoc  06049          56,648                             2,221
4       Lake  06033          58,738                             2,055
5     Sierra  06091          60,000                             1,915
6   Humboldt  06023          61,135                             1,802
7     Tehama  06103          61,834                             1,739
8     Lassen  06035          64,395                             1,515
9  Mendocino  06045          64,688                             1,476

In [13]:
df.to_csv('cal_median_household.csv')